/* ABOUT US */

.about::before {
    position: absolute;
    content: '';
    bottom: 0;
    width: 200%;
    opacity: 60%;
    height: 100vh;
    transform: translateX(-50%);
    background: black;
    z-index: 1;
}  
  
.about {
    background-image: url(../images/about.jpg);
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
    max-width: 100%;
    position: relative;
    font-family: $mainFont;
    z-index: 2;
}